.show-structure {
  height: 1000px;
  margin-left: 8%
}

.show-event-top {
  margin: 20px;
  display: flex;
  justify-content: center;
  width: 1100px;
  height: 215px;
}

.link-button-for-group {
  margin-top: 16px;
  font-size: 14px;
  color: #00a2c7;
  text-decoration: none;
  margin-bottom: 16px;
}

.link-button-for-group:hover {

  text-decoration:underline;
}

.going-or-not {
  margin-top: 27px;
  height: 110px;
  border-bottom: 0.5px solid #e0e0e0;

}


.stubborn-h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
  font-family: Helvetica;
}

.list-of-shares-for-event ul{
  display: flex;
  justify-content: space-around;
  margin-left: -12px;
  padding-left: 0;
  margin-top: 40px;
}

.next-event-show-page-calendar {
  background-color: #f6f7f8;
}

.list-of-shares-for-event {
  border-bottom: 0.5px solid #e0e0e0;
}

.share-word-event {
  font-weight: 550px;
}

.event-image-cover {
  width: 586px;
  height: 350px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.event-show-for-image {
  margin-left: 19%;
  text-align: left;
  margin-top: 40px;
  font-family: Helvetica;
}

.event-show-for-image h2 {
  font-size: 24px;
  font-weight: 550;

}

.attend-button-for-event {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  width: 300px;
  border-radius: 4px;
  background-color: rgb(241, 58, 89);
  color: white;
  margin-top: 20px;
  font-weight: 550;
  height: 45px;
  cursor: pointer;
}

.event-description {
  margin-top: 35px;
  max-width: 588px;

}

.next-event-card-show {
  display: flex;
  justify-content: flex-start;
  height: 55px;
}

.event-description p {
  padding-top: 20px;
  line-height: 1.6;
}

.gray-background-event {
  background-color: #f6f7f8;
  position: absolute;
  top: 340px;
  z-index: -2;
  width: 1440px;
  height: 800px;
  left: 0;
  border-top: 1px solid #e0e0e0;
}

.event-show-profile Link{
  padding-top: 5px;
  padding-bottom: 5px;
}
