.next-event-structure {
  width: 880px;
  height: 465px;

}

.entire-snippet-button {
  position: absolute;
  width: 880px;
  height: 465px;
  z-index: 2;
  background-color: transparent;
  cursor: pointer;
}

.next-event-mark {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: -10px;
}

.next-event-mark h1 {
  text-align: left;
  margin: 0;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 550;

}

.next-event-mark h4 {
  text-align: right;
  margin-left: 0;
  margin-right: -10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  color: #00a2c7;
}

.next-event-description {
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: white;
  height: 418px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.next-event-calendar {
  height: 100%;
  width: 54px;
  padding-top: 30px;
  padding-left: 30px;
}

.next-event-calendar-box {
  width: 54px;
  height: 54px;
  text-align: center;

}

.next-event-calendar-box h3 {
  font-size: 20px;
  font-family: Helvetica;
  font-weight: 550;
  color: #f13a59;
  padding-right: 4px;
}

.next-event-calendar-box h5{
  font-size: 14px;
  font-weight: 550;
  color: rgba(46, 62, 72, 0.6);
}


.next-event-card {
  width: 395px;
  margin-left: 30px;
  margin-top: 30px;
}

.date-for-event-full {
  font-size: 14px;
  color: rgba(46, 62, 72, .6);
  font-size: 15px;
}

.next-event-card h1 {
  font-size: 28px;
  font-weight: 600;
  font-family: Helvetica;
}

.next-event-card-profile {
  display: flex;
  justify-content: flex-start;
}

.host-event-picture {
  height: 40px;
  width: 59px;
  margin-left: -10px;
}

.next-event-actions {
  margin-left: 20px;
  margin-top: 20px;
  width: 278px;
  height: 300px;
}

.host-event-description {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  font-size: 12px;
}

.host-event-description h4 {
  padding-left: 6px;
  color: #00a2c7;
}

.event-description-body {
  line-height: 1.6;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-height: 87px;
}
.next-event-media {
  margin-top: 20px;
  width: 385px;
  text-align: right;

}

.next-event-media h5{
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #2e3e48;
  margin-left: 17%;
}


.image-photo-snippet {
  width: 300px;
  height: 180px;
  border: 1px solid transparent;
  border-radius: 8px;
  margin-bottom: 10px;
}

.attend-button {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  width: 300px;
  border-radius: 4px;
  background-color: rgb(241, 58, 89);
  color: white;
  margin-top: 20px;
  font-weight: 550;
  height: 45px;
}
