.body-header {
  height: 169px;
  width: auto;
  background-color: #F64060;
  font-family: Helvetica;
  color: white;
}

.body-header-text {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 48px;
}

.body-header-text h2 {
  padding-bottom: 8px;
  font-size: 34px;
  font-weight: 550;
}

.body-header-text h6 {
  padding-top: 8px;
  font-size: 16px;
}

.body-index {
}

.search-and-select-absolute {
  position: absolute;
  width: 960px;
  height: 73px;
  background-color: black;
  top: 228px;
  left: 18%;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
}

.searchForm {
  height: 45px;
  width: 315px;
}

.search-form-group {
    width: 233px;
    height: 45px;
    margin-left: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    padding-left: 8px;
    padding-right: 50px;
}

.search-form-button {
  position: absolute;
  height: 45px;
  width: 45px;
  top: 20%;
  border: 1px solid transparent;
  z-index: 3;
  left:27%;
  padding: 0;
  font-size: 24px;
  color: gray;
  cursor: pointer;
}

.paragraph-section {
  color: white;
}

.filtering-section {
  margin-top: 25px;
  display: flex;
  align-items:center;
  font-size: 16px;
  font-family: Helvetica;
  width: 500px;

}

.paragraph-section {
  font-weight: 500px;
}

.go-to-events {
  position: absolute;
  right: 35px;
  top: 30px;
  color: white;
  text-decoration: none;
}

.go-to-events:hover{
  text-decoration: underline;
}

.distance-filtering {
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: .5px solid white;
  background-color: transparent;
  color:white;
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 3px;
  width: 90px;
}

.location-filtering {
  width: 148px;
  height: 25px;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: .5px solid white;
  background-color: transparent;
  color:white;
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 3px;
}

.show-dropdown {
  display: block;
  margin-left: 8%;
  width: 100px;
  box-shadow: 1px 1px 1px gray;
}

.show-dropdown ul {
  width: 100px;
  height: 140px;
  background-color: white;
  z-index: 1;
  border: 1px solid transparent;
  text-align: center;
  padding-left: 0;

}

.list-of-dropdown li input{
  font-size: 16px;
  font-family: Helvetica;
  border: 1px solid transparent;
}

.list-of-dropdown li:hover{
  cursor: pointer;
  background-color: red;
  text-align: center;
}

.list-of-dropdown li input:hover{
  cursor: pointer;
  background-color: red;
}


.dropdown-content {
  display: none;
  z-index: 1;
}

.list-of-groups {
  margin-top: 6%;
  text-align: center;
  padding: 16px;
  width: 960px;
  margin-left: 17%;
  font-family: Helvetica;
  height: 900px;
}
.list-of-groups h3 {
  font-size: 13px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 20px;
}

.list-of-groups ul {
  padding-left: 0;
  display: grid;
  grid-template-columns: auto auto auto;
}
