.head-picture {
  height: 251px;
  width: auto;
  font-family: Helvetica;
  background-image: url(https://www.islands.com/sites/islands.com/files/styles/2000_1x_/public/images/2018/04/worlds-best-islands-snorkeling-01-shutterstock_77504716.jpg?itok=VyG-nikY);
  background-size:cover;
  color: white;
  text-shadow: #000 0 0 10px;
}

.head-picture h1 {
  margin: 0;
  padding-left: 40%;
  padding-top: 7%;
}

.head-picture h4 {
  padding-left: 36%;
  padding-top: 15px;
}



.group-create {
  width: 100%;
  font-family: Helvetica;
  padding-top: 24px;
  height: 1700px;
}

.group-form {
  margin: 0 auto;
  width: 840px;

}




.location-input {
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 25px;
}




.autocomplete-dropdown-container {
  height: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.auto-suggestions {
  height: 20px;
  padding: 10px;
  width: 688px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  font-size: 16px;
  color: #299bff;
}


.location-input {
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 25px;
}

.location-input-text h6{
  font-size: 13px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.26);
  padding-bottom: 10px;
}

.location-input-text h2{
  font-size: 28px;
  font-weight: 540;
}

.location-input-text input {
  margin-top: 10px;
  padding-left: 8px;
  width: 688px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  font-size: 16px;
}

.location-input-text button {
  border: 1px solid transparent;
  background-color: #ed1c40;
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  height: 34px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  text-decoration: none;

}

.location-input-text textarea {
  margin-top: 15px;
  padding-left: 8px;
  width: 688px;
  height: 184px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  font-size: 16px;
}

.input-textarea {
  margin-top: 20px;
  margin-bottom: 8px;
}

.image-style {
  height:55px;
  width: 55px;
  padding-left: 16px;
  padding-right: 25px;
  padding-top: 0px;
  padding-bottom: 8px;
}

.location-input-text ul {
  list-style-type: inherit;
}

.location-input-text ul li{
  margin-top: 8px;
}

.location-input-text p {
  margin-top: 10px;
}

.button-create {
  border: 1px solid transparent;
  background-color: #ed1c40;
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  height: 34px;
  margin-top: 30px;
  border-radius: 3px;
  margin-left: 110px;
}


.hidden {
  visibility: hidden;
}
