
.nav-structure {
  display: flex;
  justify-content: space-between;
  font-family: Helvetica;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 86px;
}

.logo-image {
  width: 120px;
  padding-top: 20px;
  padding-left: 20px;
}
.list-build-out  {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-left: 10px;
}

.start-group-text {
  color: red;
  text-decoration:none;
  border-right: 1px solid rgba(46, 62, 72, 0.12);
  padding-right: 25px;

}

.log-text {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  text-decoration:none

}
.list-build-out li {
  list-style: none;
   border: 1px solid transparent;
   padding-right: 35px;
}

.log-text:hover {
  color: red;
}

.logout-text {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  text-decoration:none;
  border: 1px solid transparent;
  background-color: transparent;
  padding-left: 0;
  margin-bottom: 5%;
  cursor: pointer;
  margin-top: 0;
}

.logout-text:hover {
  color: red;
}
