
.show-group-structure {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: Helvetica;
}


.group-home-header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-left: 14%;
    max-width: 100%;
    margin-bottom: 20px;

}
.profile-picture {
  width: 600px;
  height: 340px;
  margin-left: 12px;
  border: 1px solid transparent;
  border-radius: 8px;

}

.group-home-info-header {
  text-align: center;
  padding-left: 30px;
  width: 350px;
}

.group-home-info-header h1 {
  margin-top: 0;
  font-size: 32px;
  font-weight: 600;
  text-align: left;
}

.group-home-info-header-list {
  font-size: 14px;
  color: #2e3e48;
  display: flex;
  justify-content: flex-start;
  height: 22px;
  width: 414px;
  padding-left: 0;
}

.group-home-info-header-list li {
  padding-right: 4px;


}

.group-home-header-owner-info {
  text-align: left;
  justify-content: flex-start;
  display: flex;

}
.group-home-owner-picture {
  height: 36px;
  width: 55px;
}

.header-owner-info-text {
  padding-left: 12px;
  width: 200px;
  margin: 0;
}

.header-owner-info-text h5 {
  font-size: 14px;
  padding-bottom: 5px;
}


.header-owner-info-text h6 {
  font-size: 14px;
  font-weight:600;
}

.facebook-icon {
  width:20px;
  height:20px;
}

.twitter-icon {
  width: 24px;
  height: 24px;
}

.linkedin-icon {
  width: 23px;
  height: 23px;
}

.share-icon {
  width: 24px;
  height: 24px;
}

.list-of-shares {
  text-align: left;
  bottom: 0;
}

.list-of-shares ul {
  position: absolute;
  top: 400px;
  display: flex;
  justify-content: flex-start;
  padding-left: 5px;
}

.list-of-shares ul li {
  font-size: 14px;
  font-weight: 550;
  padding-right: 10px;
}

.share-word {
  padding-top: 3px;
  color: #2e3e48;
}

.group-tabs {
  height: 69px;
  display: flex;
  text-align: left;
  width: 800px;
  padding-top: 10px;
  margin-left: 28px;
}

.group-tabs ul {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  padding-left: 0;

}

.group-tabs ul li {
  padding-right: 40px;
  font-size: 18px;
}

.group-tabs-button {
  width: 162px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: rgb(241, 58, 89);
  font-size: 14px;
  color: white;
  margin-left: 15px;
  cursor: pointer;
}

.group-tabs-button-joined-already {
  width: 162px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #e0e0e0;
  font-size: 14px;
  color: white;
  margin-left: 15px;
  cursor: pointer;
}

.about-light-up {
  color: red;
}

.about-section {
  margin-top: 40px;
}


.non-event-snippet {
  background-color: #f6f7f8;
  text-align: left;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  margin-left: 70px;

}


.what-we-are h2 {
  font-size: 20px;
  font-weight: 550;
  padding-bottom: 10px;
}

.what-we-are p {
  width: 600px;
  max-width: 620px;
  font-size: 16px;
  line-height: 1.6;
}

.event-snippet {
  margin-left: 8%;
}

.members-number {
  padding-top: 40px;
  width: 600px;
  height: 49px;
  display: flex;
  justify-content: space-around;
}

.members-number h3 {
  font-size: 20px;
  font-weight: 550;
  width: 530px;
}

.members-number a {
  text-decoration: none;

}

.members-number a:visited {
  color: #00a2c7;

}

.members-number a:hover {
  text-decoration: underline;

}

.organizer-box {
  padding: 20px;
  width: 560px;
  height: 92px;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
}

.organizer-box div {
  padding-top: 10px;
}

.organizer-box-img {

  width: 85px;
  height: 60px;
}

.upcoming-events {
  margin-left: 100px;
  padding-top: 10px;
}

.event-button {
  width: 162px;
  height: 40px;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #00a2c7;
  font-size: 14px;
  color: white;
  margin-left: 15px;
  cursor: pointer;
  text-decoration: none;

}

.gray-background-structure {
  position: absolute;
  background-color: #f6f7f8;
  z-index: -2;
  width: 1500px;
  height: 140%;
  top: 75%;
}


.delete-button {
  font-size: 16px;
  margin-top: 25px;
  border: 1px solid transparent;
  color: gray;
  cursor: pointer;
  background-color: transparent;
}

.delete-button:hover {
  color: red;

}
